@{
    ViewData["Title"] = "داشبورد";
}

<div class="container-fluid">
    <!-- Header Section -->
    @* <div class="row mb-4">
        <div class="col-12 text-center">
            <div class="mb-3">
                <img src="~/favicon/android-chrome-512x512.png" alt="اکسورا" 
                     style="width: 250px; height: 250px; margin: -6px ;" class="mb-3">
                <h4 class="text-sucess"></h4>
                    سامانه معاملات  اکسورا
                </h1>
            </div>
        </div>
    </div> *@

    <!-- Admin/Staff Dashboard -->
    
    <!-- Currency Pool Widget -->
    <div class="row mb-4">
        <div class="col-12">
            <div id="pool-widget-container">
                @await Html.PartialAsync("_PoolWidget", ViewBag.CurrencyPools as List<ForexExchange.Models.CurrencyPool>)
            </div>
        </div>
    </div>
</div>
