name: "Debug Runner"

on:
  push:
    branches: [ master ]  # your real branch

jobs:
  test:
    runs-on: [self-hosted, Linux, X64]
    steps:
      - run: whoami
      - run: pwd
      - run: echo "Runner is executing a job!"
